form.signup,
form.login {
  margin-top: 50px;
}

.input-data {
  display: inline-block;
  padding: 10px;
}

.input {
 margin-bottom: 5px;
}

.submit-btn {
  display: inline-block;
}

.input-title {
  padding: 10px;
}

body {
    height: 130vh;

  background:
  linear-gradient( 45deg, linen,  grey );


}



.mainTitle {
  padding-bottom: 50px;
  padding-top: 20px;
 
}

.Welcome {
  margin-right: 150px;
  padding-top: 8px;
}




.category-btn {
  width: 200px;
  height: 60px;
  background: none;
  border: 4px solid;
  color:  black;
  font-weight: 700px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  border-radius: 30px;
  margin: 5px;
}
.category-btn::before,.category-btn::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background: cyan;
  transform: skewX(50deg);
  transition: .4s linear;
}
.category-btn::before {
  top: -4px;
  left: 10%;
}
.category-btn::after {
  bottom: -4px;
  right: 10%;
}

.category-btn:hover::before {
  left: 80%;
}

.category-btn:hover::after {
  right: 80%;
}


.creditDiv {
padding-top: 50px;
margin-left: 10px;
}

.saveBtn {
  width: 110px;
  height: 40px;
  background: none;
  border: 4px solid;
  color:  black;
  font-weight: 700px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  border-radius: 30px;
 
}
.saveBtn::before,.saveBtn::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background: cyan;
  transform: skewX(50deg);
  transition: .4s linear;
}
.saveBtn::before {
  top: -4px;
  left: 10%;
}
.saveBtn::after {
  bottom: -4px;
  right: 10%;
}

.saveBtn:hover::before {
  left: 80%;
}

.saveBtn:hover::after {
  right: 80%;
}